name: Run Unit Tests (Api Solid)

on:
  push:
    paths:
      - 'api-solid/**'

jobs:
  run-unit-tests:
    name: Run Unit Tests (Api Solid)
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'yarn'

      - run: yarn ci

      - run: yarn run test